@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

html, body{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
	
body{
  font-family: 'Nunito', sans-serif;;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('http://k46.kn3.net/taringa/B/3/5/9/B/C/WIk4N/66D.jpg') center / cover fixed;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, .4), 0 5px 10px -3px rgba(0, 0, 0, .2);
  }
  
 
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin button{
      margin-top: 10px;
      background-color: #f875aa;
      color: #fff;
      font-weight: bold;
  }


  .copy{
      margin-top: 10px;
      color: #000;
  }
	